<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<link rel="stylesheet" href="css/style.css">
        <title>Phase 3 Project 4 Login</title>
    </head>
    <body>
        <div class="user-form">
			<h1>Welcome!</h1>
			<form th:action="@{/login}" method="post">
				<div th:if="${param.error}">
          		  Invalid username and password.
      		    </div>
     		   <div th:if="${param.logout}">
       		     You have been logged out.
       			 </div>
			Username: <input type="text" name="username" id="username"> 
			Password: <input type="text" name="password" id="password"> 
			<input type="submit" value="Login">
			</form>
		</div>
    </body>
</html>